!*/
node_modules
*.log
log
log.html
.unisonHistory

# OS-specific
.DS_Store

# IDE-specific
.vscode

# app specific
src/*
!src/tree_sitter
!src/tree_sitter/parser.h
scratch.u
*.wasm
target/
build/
Cargo.lock

!grammar.json
!parser.c
!node-types.json
!jtckdint.h
