# Ignore everything
*

# Top-level whitelist
CHANGELOG.md

# Allow git to see inside subdirectories
!*/

# Whitelist the grammar and tests
!/grammar/*.js
!/test/corpus/*.txt

# Whitelist any grammar and tests in subdirectories
!/grammar/**/*.js
!/test/corpus/**/*.txt
