name: Publish package
on:
  push:
    tags: ["*"]
concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true
jobs:
  npm:
    uses: tree-sitter/workflows/.github/workflows/package-npm.yml@main
    with:
      generate: true
    secrets:
      NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}