name: Publish package
on:
  push:
    tags: ["*"]
concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true
permissions:
  contents: write
  id-token: write
  attestations: write
jobs:
  github:
    uses: tree-sitter/workflows/.github/workflows/release.yml@main
    # with:
      # release-body: CHANGELOG.md
  npm:
    uses: tree-sitter/workflows/.github/workflows/package-npm.yml@main
    # with:
      # generate: true
      # attestations: true
    secrets:
      NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}